<div class="header">
  <div class="container">
    <div class="header__content">
      <a href="./manager.html" class="header__logo">
        <div class="header__logo-img">
          <img src="/img/logo.png" alt="" srcset="">
        </div>
        LOGO
      </a>
      <div class="header__left">
        <form action="" class="header__kalend">
          <input type="week" name="week" id="camp-week" />
          <input type="submit" class="btn btn-form" value="Показать">
        </form>
        <div class="header__profil">
          <div class="header__img">
            <img src="/img/profil.jpg" alt="">
          </div>
          <button type="button" class="btn btn-profil" id="header__profil-click">
            <img src="/img/profil.svg" alt="" srcset="">
          </button>
          <div class="header__profil-top">
            <div class="header__top-pr">
              <div class="header__img">
                <img src="/img/profil.jpg" alt="">
              </div>
              <p>
                iktruoshali@mail.ru
              </p>
            </div>
            <a href="./login.html">выйти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
