<div class="static">
  <div class="content__prever-top">
    <h2>Загрузить отчет </h2>
    <button type="button" class="btn btn-appender" id="btn-add">
      добавить
    </button>
  </div>
  <div class="content__prever-table">
    <table class="table__lister">
      <thead>
        <tr>
          <th>
            Названия файла
            <button type="button" class="icon btn btn-filter">
              <img src="/img/filter.svg" alt="">
            </button>
          </th>
          <th>
            Дата
            <button type="button" class="icon btn btn-filter">
              <img src="/img/filter.svg" alt="">
            </button>
          </th>
          <th>
            Размер файла
            <button type="button" class="icon btn btn-filter">
              <img src="/img/filter.svg" alt="">
            </button>
          </th>
          <th>
            <a href="">
              Настройка
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gloria</td>
          <td>25.02.2023</td>
          <td>67439</td>
          <td>
            <a href="" class="btn btn-editer_file">Удалить</a>
          </td>
        </tr>
        <tr>
          <td>Gloria</td>
          <td>25.02.2023</td>
          <td>67439</td>
          <td>
            <a href="" class="btn btn-editer_file">Удалить</a>
          </td>
        </tr>
        <tr>
          <td>Gloria</td>
          <td>25.02.2023</td>
          <td>67439</td>
          <td>
            <a href="" class="btn btn-editer_file">Удалить</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content__prever-modal" id="content-modal">
    <div class="content__prever-body">
      <div class="content__prever-nexter">
        <div class="content__prever-title">
          Загрузить отчет
        </div>
        <div class="content__prever-helpers">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
          <ul>
            <li> Wpsum dolor sit amet 25%</li>
            <li> Natus explicabo officia, laudantium 25% - 40%</li>
            <li> sapiente repudiandae pariatur, aliquid laboriosam 65%</li>
          </ul>
        </div>
        <div class="content__prever-edit">
          <div class="content__prever-item prever__1">
            <p>Мин </p>
            <input type="text" value="0" name="min">
            <span>%</span>
          </div>
          <div class="content__prever-item  prever__2">
            <p>Норма </p>
            <div>
              <input type="text" value="0" name="sreter_one">
              <span>-</span>
              <input type="text" value="0" name="sreter__two">
            </div>
            <span>%</span>
          </div>
          <div class="content__prever-item prever__3">
            <p>Цель > </p>
            <input type="text" value="0" name="max">
            <span>%</span>
          </div>
        </div>
        <input type="file" class="content__prever-download_file">
      </div>
      <button type="button" class="btn btn-modaler" id="btn-remove">
        <img src="./assets/img/close.svg" alt="">
      </button>
    </div>
  </div>
</div>
